.registration-page {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
}

.registration-form {
    width: 80%;
    max-width: 600px;
}