.caroussel--height {
    min-height: 50svh;
    height: 50svh;
    text-align: center;
}

.caroussel--headline {
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .caroussel--height {
        min-height: 80svh;
        height: 80svh;
    }
}